[submodule "vim/bundle/nerdtree.git"]
	path = vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/airline.git"]
	path = vim/bundle/airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/fugitive.git"]
	path = vim/bundle/fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/airline-themes.git"]
	path = vim/bundle/airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/nerdtree-tabs.git"]
	path = vim/bundle/nerdtree-tabs.git
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/surround.vim"]
	path = vim/bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/multiple-cursors.git"]
	path = vim/bundle/multiple-cursors.git
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/nerdcommenter.git"]
	path = vim/bundle/nerdcommenter.git
	url = https://github.com/scrooloose/nerdcommenter.git
